@import "variables.scss";

.add-artwork-container{
  width: 60%;

  h1 {
    padding-bottom: 2%;
    padding-top: 3%;
    color: $dark-red;
    font-weight: 700;
  }

  @media screen and (max-width:550px) {
    h1{
      margin-top: 2em;
      margin-left: 0.8em;
      margin-bottom: 1.5em
    }   
  }

  .add-artwork-form {
    @include glassbg;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.1) !important;
    padding: 2%;
    border-radius: 10px;
    width: 100%;
    font-size: 20px;
    
    .mb-3 {
      width: 90%;
      gap: 20px 20px;
    }

    .add-artwork-label {
      margin-bottom: 2%;
      margin-top: 1%;
    }

    .form-select {
      width: 50%;
    }

    button {
      width: auto;
      margin-left: 0;
    }
  }
}