@import "variables.scss";

.category-page-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-family: $header-font;
    color: $dark-red;
    font-weight: 800;
    padding-bottom: 3%;
  }

  .cat-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;

    .category-unit{
      width: 20rem;
      aspect-ratio: 1 / 1.1;
      margin: 0px;
      padding: 0px;

      p {
        font-family: $body-font;
        font-weight: 500;
        color: $darkest-brown;
      }

      .cat-img{
        aspect-ratio: 1 / 1.5;
        object-fit: cover;
      }

      .cat-title{
        display: flex;
        flex-direction: row;

        .cat-avatar-img{
          width: 9.4rem;
          aspect-ratio: 1 / 1;
          object-fit: cover;
          border: 8px solid $beige;
          margin-top: -80px;
        }

        .cat-link{
          text-decoration: none;
          color: $darkest-brown;
          font-family: $header-font;
          font-weight: 600;
          font-size: 25px;

          &:hover{
            color: $dark-red;
          }
        }
      }
    }
  }
}
