@import "variables.scss";

.category-page-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 6%;

  h1 {
    padding: 1rem;
    font-family: $header-font;
    color: $dark-red;
    font-weight: 800;
  }
}

.cat-container{
  @include grid3col
    
}
.category-unit{
  margin: 0px;
  padding: 0px;
}

.cat-img{
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.cat-avatar-img{
  width: 150px;
  border: 8px solid $beige;
  margin-top: -80px;
}

.cat-title{
  display: flex;
  flex-direction: row;
}
.cat-link{
  text-decoration: none;
  color: $darkest-brown;
  font-family: $body-font;
  font-weight: 600;
  font-size: 25px;
}
.cat-link:hover{
  color: $dark-red;
}
