@import "variables.scss";

.artists-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  h1 {
    font-family: $header-font;
    color: $dark-red;
    padding-bottom: 1%;
  }

  .artists-page-list {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;

    .artistitem-link{
      text-decoration: none;
      color: $dark-red;
    }

    .artistitem-card {
      width: 20em;
      border: none !important;
      box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.1) !important;
      font-size: 15px;

      .artistitem-card-image {
        width: 100%;
        aspect-ratio: 1 / 1.2;
        object-fit: cover;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }

      .artistitem-card-body {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;

        .artistitem-card-title {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          align-items: center;
      
          .artist-name-and-rating {
            display: flex;
            flex-direction: column;
          }

          .artistitem-card-avatar-img {
            width: 100px;
            aspect-ratio: 1 / 1;
            object-fit: cover;
            margin-top: -45px;
            padding-right: 5px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 3100px) and (min-width: 1450px)  {
  .artistitem-card {
    width: 100em;
    border: none !important;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.1) !important;
    font-size: 15px;
  }
}