@import "variables.scss";

.card5{
 width: 100%;
 height: 100%;
 box-shadow: none !important;
 text-decoration: none;
 border: none !important;
 
 
}
.category-body{
  border: none !important;
  box-shadow: none !important;
  @include glassbg;
  
}

.card-title2{
  display: flex;
  justify-content: center;
  color: $dark-red;
  padding: 10px;
}

.card-title2 h5{
  font-family: $body-font;
  font-weight: 800; 
}

.card-link:hover{
  cursor: pointer;
  text-decoration: none;
  font-family: $body-font;
  color: $darkest-brown;
}

.card-image{
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}


