@import "../styles/variables.scss";

.gallery{
  display: flex;
  flex-direction: column;
  width: 100%;

  .profile-gallery{
    display: flex;
    flex-direction: column;

    .profile-cover-gallery{
      width: 100%;
      height: 450px;
    
      .image {
        background-size: cover;
        height: 550px;
        width: 100%;
        object-position: center;
        object-fit: cover;
      }
    }

    .profile-header-gallery{
      margin-left: 50px;
    }

    .user-name {
      display: flex;
      justify-content: space-between;

      h2 {
        padding-left: 50px;
        padding-top: 15px;
        font-family: $header-font;
        font-weight: 600;
        color: $dark-red;
      }

      button {
        width: auto;
      }
    }

    .user-bio{
      margin: 30px;
      padding: 1rem;
      font-size: 1.5rem;
      font-family: $body-font;
      border-style: solid;
      border-radius: 5px;
      border-color: $dark-brown;
      @include glassbg
    }
  }
}






.list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 75%;
}

.list-item{
  flex: 30%;
  margin: 5px;
  padding-left: 50px;
  padding-top:  50px; 

  .after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    color: $beige;
    font-family: $header-font;
    font-size: 1.8rem;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $dark-brown;
    opacity: 0.6;
  }

  .add-to-cart {
    display: none;
  }

  &:hover {

    .add-to-cart {
      display: flex;
      justify-content: right;
      color: $dark-brown;
      font-family: $header-font;
      font-size: 1.4rem;
      margin-left: 90%;

      &:hover {
        cursor: pointer; 
        box-shadow: 0.4rem;
      }
    }    
  }


}

.card-img{
  width: 100%;
  // height: 600px;
  object-fit: cover;
}

.card-image2{

  .card-img2{
    width: 100%;
    // height: 600px;
    object-fit: cover;
  }

}
