@import "../styles/variables.scss";

.profile {
  font-family: $body-font;

  .profile-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 50px;
  }

  h1 {
    font-family: $header-font;
  }
  
  .profile-buttons {
    display: flex;
    flex-direction: row;
  }

  .user-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .card-image{

    .after{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: none;
      color: $beige;
      font-family: $header-font;
      font-size: 1.8rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background: $dark-brown;
      opacity: 0.6;
    }
  }
}

.mb-3 {
  display: flex;
  flex-direction: column;
}

.add-artwork-preview {
  width: 10rem;
  margin-left: 1rem;
}