$darkest-brown: #353940;
$dark-brown: #595443;
$medium-brown: #8C6B2E;
$beige: #F2EFE9;
$light-brown: #BF9673;
$beige2: #F2E6D0;
$dark-red:#8C3503;

$header-font: 'Quicksand', sans-serif;
$logo-font: 'Pacifico', cursive;
$body-font: 'Lato', sans-serif;