$darkest-brown: #353940;
$dark-brown: #595443;
$medium-brown: #8C6B2E;
$beige: #F2EFE9;
$light-brown: #BF9673;

$header-font: 'Quicksand', sans-serif;
$logo-font: 'Pacifico', cursive;
$body-font: 'Lato', sans-serif;