@import "../../styles/variables.scss";

.order-history-sold-purchases-list{
  width: 96%;
  display: grid; 
  grid-template-columns: 1fr; 
  grid-template-rows: 0.1fr 0.1fr; 
  gap: 25px 25px; 
  grid-template-areas: 
    "."
    "."; 

  h1 {
    padding-bottom: 2%;
    padding-top: 3%;
    color: $dark-red;
    font-weight: 700;
    display: flex;
    justify-content: center;
  }

  @media only screen and (max-width: 800px){
    h1{
      margin-top: 1em;
    }
  }

  @media only screen and (max-width: 550px){
    h1{
      margin-top: 2em;
      margin-bottom: 1em;
    }
  }

  @media only screen and (max-width: 500px){
    h1{
      font-size: 1.5em;
    }
  }

  .order-history-list {
    @include grid4col2row;
    width: 100%;

    .order-history-card {
      width: 100%;
      aspect-ratio: 1 / 1;
      border: none !important;
      box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.1) !important;

      .order-history-card-img {
        width: 100%;
        aspect-ratio: 1 / 1;
        object-fit: cover;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }

      .order-history-card-link {
        text-decoration: none;
        color: $dark-red;
      }
    }
    
   
  }

  @media only screen and (max-width:800px) {
    .order-history-list{
      @include grid3col;
      margin-left:1em
    }
  }

  @media only screen and (max-width:650px) {
    .order-history-list{
      @include grid2col;
      margin-left:1em
    }
  }

  @media only screen and (max-width:500px) {
    .order-history-list{
      @include grid1col;
      margin-left:1em;
      margin-bottom: 1em;
    }
  }

}


.no-sold-artwork-message{
  display: flex;
  justify-content:center;
  margin-bottom: 10em;
  font-size: larger;

}

.no-bought-artwork-message{
  display: flex;
  justify-content:center;
  margin-bottom: 10em;
  font-size: larger;
}







